/* Colors */

$body-bgcolor-light: #ecf0f3;
$body-bgcolor-dark: #242424;

$text-color-light: #333;
$text-color-dark: #fff;

$sidebar-bgcolor-light: rgba(255, 255, 255, 1);
$sidebar-bgcolor-dark: rgba(59, 59, 59, 1);
$sidebar-header-height: 3ex;

$accent-color: #0094e2;
$accent-color-highlighted: lighten($accent-color, 30%);
$card-bg-color: $sidebar-bgcolor-light;
$card-border-radius: 1ex;
$card-box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.1);

$topbar-bgcolor-light: none transparent;
$topbar-bgcolor-dark: none transparent;
$topbar-hover-bgcolor-light: lighten($accent-color, 50%);
$topbar-hover-bgcolor-dark: rgba(45, 45, 45, .8);
$topbar-text-color-light: $text-color-light;
$topbar-text-color-dark: $text-color-dark;
$topbar-text-shadow-color-light: #fff;
$topbar-text-shadow-color-dark: #000;
$topbar-hover-text-color-light: $topbar-text-color-light;
$topbar-hover-text-color-dark: $topbar-text-color-dark;

$topbar-nav-border-color-light: $topbar-bgcolor-light;
$topbar-nav-border-color-dark: rgba(255, 255, 255, 0.2);

$topbar-nav-active-border-color-light: $accent-color;
$topbar-nav-active-border-color-dark: $accent-color;

/* Dimensions */

$box-corner: .2rem;

$mobile-map-height: 70vh;

$breakpoint-portrait-sm-max: 568px;
$breakpoint-portrait-md-min: $breakpoint-portrait-sm-max + 1px;
$breakpoint-landscape-sm-max: 414px;
$breakpoint-landscape-md-min: $breakpoint-landscape-sm-max + 1px;
$breakpoint-md-min: 500px;
$breakpoint-md-max: 899px;
$breakpoint-lg-min: $breakpoint-md-max + 1px;

$page-padding-end: 1rem;
$sidebar-width: 18rem;
$sidebar-margin-end: 1rem;

$topbar-height: 9ex;

@media screen and (max-width: $breakpoint-md-max) {
  $page-padding-end: 0.5rem;
  $sidebar-width: 14rem;
  $sidebar-margin-end: 0.5rem;
}
