@import './variables.scss';

/* Body */

body.light {
  background-color: $body-bgcolor-light;
  color: $text-color-light;
}

body.dark {
  background-color: $body-bgcolor-dark;
  color: $text-color-dark;
}

/* Top bar */

.light #topbar {
  background-color: $topbar-bgcolor-light;
  border-bottom-color: $topbar-nav-border-color-light;
  color: $topbar-text-color-light;
}

.light #topbar div.navlink {
  border-left-color: $topbar-nav-border-color-light;
}

.light #topbar div.navlink:hover {
  background-color: $topbar-hover-bgcolor-light;
  color: $topbar-hover-text-color-light;
}

.light #topbar div.active {
  border-bottom: 4px solid $topbar-nav-active-border-color-light;
}

.light #settings-menu {
  background-color: $sidebar-bgcolor-light;
}

.dark #topbar {
  background-color: $topbar-bgcolor-dark;
  border-bottom-color: $topbar-nav-border-color-dark;
  color: $topbar-text-color-dark;
}

.dark #topbar div.navlink {
  border-left-color: $topbar-nav-border-color-dark;
}

.dark #topbar div.navlink:hover {
  background-color: $topbar-hover-bgcolor-dark;
  color: $topbar-hover-text-color-dark;
}

.dark #topbar div.active {
  border-bottom: 4px solid $topbar-nav-active-border-color-dark;
}

.dark #settings-menu {
  background-color: $sidebar-bgcolor-dark;
}

.light #legend {
  color: #333;
  background-color: rgba(255,255,255,.8);
  border: 1px solid #ececec;
  .label, label span {
    color: #333;
  }
}

.light #range-slider {
  background-color: rgba(225,225,225,.8);
  label span {
    color: #333;
  }
}

/* Side bar */

.light #logo {
  background: url('/img/gh_logo.svg');
}

.dark #logo {
  background: url('/img/gh_logo_white.svg');
}

.light #sidebar,
.light #sidebar-tab {
  background-color: $sidebar-bgcolor-light;
}

.dark #sidebar,
.dark #sidebar-tab {
  background-color: $sidebar-bgcolor-dark;
}

.light #sidebar-tab {
  border: 1px solid #f0f0f0;
  border-left: 0;
}

.light .location-filter-wrapper {
  border-bottom-color: #ececec;
}

.light #location-list {
  button {
    color: #454545;
    background-color: #fff;
    box-shadow: none;
    &:focus, &:hover, &:active, &.is-active {
      background-color: #f3f3f3;
    }
  }
  .num {
    color: #999;
  }
}

.dark input[type=text] {
  color: #ccc;
  background-color: $sidebar-bgcolor-dark;
  border: 1px solid #ececec;
  &::placeholder {
    color: #999;
  }
}

.light input[type=text] {
  color: #333;
  background-color: $sidebar-bgcolor-light;
  border: 1px solid #ececec;
  &::placeholder {
    color: #999;
  }
}

.light .reported-cases {
  color: #333;
  border: 1px solid transparent;
  &:focus, &:hover, &:active, &.is-active {
    border-color: #ececec;
    background-color: #fff;
  }
}

.light .last-updated-date {
  color: #999;
}

.light h1 {
  color: #333;
}
