@import './variables.scss';

.light #topbar {
  background-color: $sidebar-bgcolor-light;
}

body.light {
  background-color: $body-bgcolor-light;
  color: $text-color-light;
}

body.dark {
  background-color: $body-bgcolor-dark;
  color: $text-color-dark;
}

// .light canvas {
  // background-color: $body-bgcolor-light;
// }

// .dark canvas {
  // background-color: $body-bgcolor-dark;
// }

.light #legend {
  color: #333;
  background-color: rgba(255,255,255,.8);
  border: 1px solid #ececec;
  .label, label span {
    color: #333;
  }
}

.light #range-slider {
  background-color: rgba(225,225,225,.8);
  label span {
    color: #333;
  }
}

.light #sidebar,
.light #sidebar-tab {
  background-color: $sidebar-bgcolor-light;
}

.dark #sidebar,
.dark #sidebar-tab {
  background-color: $sidebar-bgcolor-dark;
}

.light #sidebar-tab {
  border: 1px solid #f0f0f0;
  border-left: 0;
}

.light .location-filter-wrapper {
  border-bottom-color: #ececec;
}

.light #location-list {
  button {
    color: #454545;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: none;
    &:focus, &:hover, &:active, &.is-active {
      background-color: #f3f3f3;
    }
  }
  .num {
    color: #999;
  }
}

.dark input[type=text] {
  color: #ccc;
  background-color: $sidebar-bgcolor-dark;
  border: 1px solid #ececec;
  &::placeholder {
    color: #999;
  }
}

.light input[type=text] {
  color: #333;
  background-color: $sidebar-bgcolor-light;
  border: 1px solid #ececec;
  &::placeholder {
    color: #999;
  }
}

.light .reported-cases {
  color: #333;
  border: 1px solid transparent;
  &:focus, &:hover, &:active, &.is-active {
    border-color: #ececec;
    background-color: #fff;
  }
}

.light .last-updated-date {
  color: #999;
}

.light h1 {
  color: #333;
}
